<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Manage Quizz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/userHP.css}">
    <link rel="stylesheet" th:href="@{/css/Header_Footer.css}">
    <link rel="stylesheet" th:href="@{/css/course_overview.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body style="background-color: #f8f9fa;">
<div th:replace="~{/fragments/header_nav.html :: headerNavCombo}"></div>
    <!-- Xem các câu hỏi hiện có -->
<div class="unit-detail-container">
    <div class="unit-header">
        <h1 class="unit-title" th:text="'Quiz: ' + ${quizz.quizzName}"></h1>
    </div>
    <div class="video-section">
        <div class="section-header">
            <h2 class="section-title">Question List</h2>
            <button id="addBtn" class="upload-button">Add New Question</button>
        </div>
        <p style="margin-inline: 4%;" class="quiz-card" th:if="${quizz.questions.isEmpty()}">No question created</p>
        <div class="quiz-card" style="display: block;" th:each="question : ${quizz.questions}">
            <div style="display: flex; justify-content: space-between;">
                <h3 th:text="'Question: ' + ${question.requirement} + '?'"></h3>
                <form method="post"
                      style="display:inline;">
                    <button type="submit" class="item-btn">Delete</button>
                </form>
            </div>
            <br>
            <p th:if="${not #strings.isEmpty(question.choice1)}" th:text="'Answer: ' + ${question.choice1}"></p><br>
            <p th:if="${not #strings.isEmpty(question.choice2)}" th:text="'Answer: ' + ${question.choice2}"></p><br>
            <p th:if="${not #strings.isEmpty(question.choice3)}" th:text="'Answer: ' + ${question.choice3}"></p><br>
            <p th:if="${not #strings.isEmpty(question.choice4)}" th:text="'Answer: ' + ${question.choice4}"></p><br>
            <p th:if="${not #strings.isEmpty(question.choice5)}" th:text="'Answer: ' + ${question.choice5}"></p>
        </div>
    </div>

    <div class="edit-modal" id="addModal">
        <div class="modal-content">
            <span class="close" id="closeAddModal">&times;</span>
            <form style="display: flex; flex-direction: column;" class="edit-form" th:action="@{/tutor/course/unit/quizz/{quizzId}/add-question(quizzId=${quizz.quizzId})}" method="post"
                  th:object="${questionForm}">
                <h3 style="justify-self: center; text-align: center;">New Question</h3>
                <input type="hidden" name="quizzId" th:value="${quizz.quizzId}"/>
                <p><strong>Question:</strong></p>
                <input th:field="*{requirement}" type="text" required autocomplete="off" placeholder="Answer"/>
                <p><strong>Choice 1:</strong></p>
                <input th:field="*{choice1}" type="text" autocomplete="off" placeholder="Answer"/>
                <select th:field="*{isChoice1}">
                    <option th:value="true">True</option>
                    <option th:value="false">False</option>
                </select>
                <p><strong>Choice 2:</strong></p>
                <input th:field="*{choice2}" type="text" autocomplete="off" placeholder="Answer"/>
                <select th:field="*{isChoice2}">
                    <option th:value="true">True</option>
                    <option th:value="false">False</option>
                </select>
                <p><strong>Choice 3:</strong></p>
                <input th:field="*{choice3}" type="text" autocomplete="off" placeholder="Answer"/>
                <select th:field="*{isChoice3}">
                    <option th:value="true">True</option>
                    <option th:value="false">False</option>
                </select>
                <p><strong>Choice 4:</strong></p>
                <input th:field="*{choice4}" type="text" autocomplete="off" placeholder="Answer"/>
                <select th:field="*{isChoice4}">
                    <option th:value="true">True</option>
                    <option th:value="false">False</option>
                </select>
                <p><strong>Choice 5:</strong></p>
                <input th:field="*{choice5}" type="text" autocomplete="off" placeholder="Answer"/>
                <select th:field="*{isChoice5}">
                    <option th:value="true">True</option>
                    <option th:value="false">False</option>
                </select>

                <br>
                <button style="margin: 0;" class="item-btn" type="submit">Add question</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{/fragments/header_nav.html :: footer}"></div>

    <!-- Script xử lý popup -->
    <script>
        const addModal = document.getElementById("addModal");
   const openAddBtn = document.getElementById("addBtn");
   const closeAddBtn = document.getElementById("closeAddModal");

   openAddBtn.onclick = () => addModal.style.display = "flex";
   closeAddBtn.onclick = () => addModal.style.display = "none";
        document.addEventListener("DOMContentLoaded", function () {
        const userIcon = document.getElementById("user-icon");
        const userPopup = document.getElementById("user-popup");

        userIcon.addEventListener("click", ()=> {
            userPopup.classList.toggle("show");
        });


        document.addEventListener("click", function (event) {
            if (!userPopup.contains(event.target) && !userIcon.contains(event.target)) {
                userPopup.classList.remove("show");
            }
        });
    });
    </script>
</body>

</html>