<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Student List</title>
</head>
<body>
<h1>Students in <span th:text="${course.courseName}"></span></h1>
<ul>
  <li th:each="student : ${students}" th:text="${student.fullName}"></li>
</ul>
<a th:href="@{/tutor/dashboard}">Back to Dashboard</a>
</body>
<script>
  document.addEventListener("DOMContentLoaded",()=>{
        updateCartTotal();
        updateWishListCount();
     });
        document.addEventListener("DOMContentLoaded", function () {
        const userIcon = document.getElementById("user-icon");
        const userPopup = document.getElementById("user-popup");

        userIcon.addEventListener("click", ()=> {
            userPopup.classList.toggle("show");
        });

        // Close the popup when clicking outside
        document.addEventListener("click", function (event) {
            if (!userPopup.contains(event.target) && !userIcon.contains(event.target)) {
                userPopup.classList.remove("show");
            }
        });
    });
</script>
</html>