<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/userHP.css}">
    <link rel="stylesheet" th:href="@{/css/Header_Footer.css}">
    <link rel="stylesheet" th:href="@{/css/course_overview.css}">
</head>
<body style="background-color: #f8f9fa;">
<div th:replace="~{/fragments/header_nav.html :: headerNavCombo}"></div>
<div class="unit-detail-container" style="margin-top: 5%;">
    <div class="unit-header">
        <h1 class="unit-title" th:text="'Unit: ' + ${unit.Description}"></h1>
    </div>

    <div class="video-section">
        <div class="section-header">
            <h2 class="section-title">Video Lectures</h2>
            <button id="addVideoBtn" class="upload-button">Upload New Video</button>
        </div>
        <div class="edit-modal" id="addVideoModal">
            <div class="modal-content">
                <span class="close" id="closeAddVideoModal">&times;</span>
                <h3>Add New Video</h3>
                <form th:action="@{/tutor/unit/{unitId}/upload-video(unitId=${unitId})}" method="post">
                    <label for="filePath">YouTube Video URL:</label>
                    <input type="text" id="filePath" name="filePath" required placeholder="Enter YouTube URL" autocomplete="off">

                    <label for="description">Description:</label>
                    <input id="description" name="description" required
                              minlength="3" maxlength="100" pattern="^[A-Za-z0-9 ]+$"
                              placeholder="Enter video description"/>

                    <button class="dashboard-button" style="padding:10px;" type="submit">Upload Video</button>
                </form>
            </div>
        </div>
        <p style="margin-inline: 4%;" class="quiz-card" th:if="${unit.video.isEmpty()}">No video uploaded</p>
        <div class="video-list">
            <div th:each="video : ${unit.video}" class="video-card">
                <div class="video-thumbnail">
<!--                    <img th:src="'https://img.youtube.com/vi/' + ${video.filePath} + '/0.jpg'" alt="Video Thumbnail">-->
                    <iframe
                            th:src="'https://www.youtube.com/embed/' + ${video.filePath}"
                            allowfullscreen>
                    </iframe>
                    <span class="video-duration" th:text="${video.length}"></span>
                </div>
                <div class="video-info">
                    <h3 class="video-title" th:text="${video.description}">NA</h3>
                    <div class="video-meta">
                        <span class="video-date" th:text="'Uploaded: ' + ${#dates.format(video.createAt, 'dd-MM-yyyy')}"></span>
                        <form th:action="@{/tutor/unit/{unitId}/delete-video/{videoId}(unitId=${unit.unitId}, videoId=${video.videoId})}" method="post" >
                            <button class="delete-button" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="quiz-section">
        <div class="section-header">
            <h2 class="section-title">Quizzes</h2>
            <button id="addBtn" class="add-button">Add New Quiz</button>
        </div>
        <div class="edit-modal" id="addModal">
            <div class="modal-content">
                <span class="close" id="closeAddModal">&times;</span>
                <h3>Add New Unit</h3>
                <form class="edit-form" th:action="@{/tutor/unit/{unitId}/upload-quiz(unitId=${unit.unitId})}" method="post">
                    <label>Title:</label>
                    <input type="text" name="quizzName" autocomplete="off" required
                           minlength="3" maxlength="100" pattern="^[A-Za-z0-9 ]+$"
                           title="Only letters and numbers are allowed" placeholder="Unit title"
                    ><br>
                    <button type="submit" class="save-btn">Save</button>
                </form>
            </div>
        </div>
        <p style="margin-inline: 4%;" class="dashboard-course-item" th:if="${unit.quizzes.isEmpty()}">No quiz created</p>
        <div th:each="quizz : ${unit.quizzes}" class="quiz-list">
            <div class="quiz-card">
                <div class="quiz-info">
                    <a th:href="@{/tutor/course/unit/quizz/{quizzId}(quizzId=${quizz.quizzId})}" class="quiz-title" th:text="${quizz.quizzName}"></a>
                    <div class="quiz-meta">
                        <span class="quiz-date"
                              th:text="'Created: ' + ${#dates.format(quizz.createAt, 'dd-MM-yyyy')}"></span>
                        <span class="quiz-questions" th:text="${quizz.questions.size()} + ' questions'"></span>
                    </div>
                </div>
                <form th:action="@{/tutor/course/unit/{unitId}/quiz/{quizId}/delete(unitId=${unit.unitId}, quizId=${quizz.quizzId})}" method="post">
                    <button type="submit" class="delete-button" onclick="return confirm('Are you sure?')">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>
<div th:replace="~{/fragments/header_nav.html :: footer}"></div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const userIcon = document.getElementById("user-icon");
        const userPopup = document.getElementById("user-popup");

        userIcon.addEventListener("click", ()=> {
            userPopup.classList.toggle("show");
        });

        // Close the popup when clicking outside
        document.addEventListener("click", function (event) {
            if (!userPopup.contains(event.target) && !userIcon.contains(event.target)) {
                userPopup.classList.remove("show");
            }
        });
    });
    const addModal = document.getElementById("addModal");
   const openAddBtn = document.getElementById("addBtn");
   const closeAddBtn = document.getElementById("closeAddModal");

   openAddBtn.onclick = () => addModal.style.display = "flex";
   closeAddBtn.onclick = () => addModal.style.display = "none";
    const addVideoModal = document.getElementById("addVideoModal");
   const openVideoAddBtn = document.getElementById("addVideoBtn");
   const closeAddVideoBtn = document.getElementById("closeAddVideoModal");

   openVideoAddBtn.onclick = () => addVideoModal.style.display = "flex";
   closeAddVideoBtn.onclick = () => addVideoModal.style.display = "none";
</script>
</html>