<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Shopping History</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/userHP.css}">
    <link rel="stylesheet" th:href="@{/css/Header_Footer.css}">
    <link rel="stylesheet" th:href="@{/css/course_overview.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
<div th:replace="~{/fragments/header_nav.html :: headerNavCombo}"></div>
<div class="history" style="margin-top: 2px;min-height: 80vh; padding-bottom: 5%;">
    <div class="history-list">
        <h1 class="history-header title">Shopping history</h1>
        <p class="cart-header course-num" style="padding: 0;" th:text="'Total enrollments: ' + ${#lists.size(enrollmentsByDate)}"></p>
        <div class="history-by-date-container">
            <div th:each="entry : ${enrollmentsByDate}">
                <div class="history-by-date-list">
                    <div class="history-by-date">
                        <p class="history-text date" th:text="${#temporals.format(entry.key, 'MMMM d, yyyy HH:mm', T(java.util.Locale).ENGLISH)}"></p>

                        <div class="purchase-attempt">
                            <div>
                                <p class="history-text">Number of courses: <span th:text="${#lists.size(entry.value)}"></span></p>
                                <p class="history-text">Total Price: đ <span th:text="${#aggregates.sum(entry.value.![price])}"></span></p>
                            </div>
                            <button class="toggle-btn"><i class="fa-solid fa-ellipsis"></i></button>
                        </div>
                    </div>
                    <div class="purchase-attempt-info-container">
                        <div class="tittle-n-btn">
                            <h1 class="history-header title">Payment detail</h1>
                            <button>X</button>
                        </div>
                        <p class="history-text detail">
                            <strong>Card number:</strong><span th:text="${entry.value[0].paymentInformation.cardNumber}"></span>
                        </p>

                        <p class="history-text detail"><strong>Card type:</strong> <span th:text="${entry.value[0].paymentInformation.cardType}"></span></p>
                        <p class="history-text detail"><strong>Bank:</strong> <span th:text="${entry.value[0].paymentInformation.bank}"></span></p>
                        <p class="history-text detail"><strong>Total Price:</strong> $ <span th:text="${#aggregates.sum(entry.value.![price])}"></span></p>

                        <div class="course-list">
                            <p class="history-text detail"><strong>Courses:</strong></p>
                            <div class="history-course-list">
                                <div th:each="enrollment : ${entry.value}" class="history-course">
                                    <a th:href="@{/course/{id}(id=${enrollment.course.courseId})}" th:text="'- ' + ${enrollment.course.courseName}"></a>
                                    <p th:text="${enrollment.course.teaches[0].tutor.getUser.getFullName}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:replace="~{/fragments/header_nav.html :: footer}"></div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButtons = document.querySelectorAll(".toggle-btn");
        const paymentDetails = document.querySelector(".purchase-attempt-info-container");
        const closeButton = document.querySelector(".tittle-n-btn button");
        const body = document.querySelector(".history");

        toggleButtons.forEach(button => {
            button.addEventListener("click", function () {
                if (paymentDetails.style.display === "none" || paymentDetails.style.display === "") {
                    paymentDetails.style.display = "block";
                    body.classList.add("modal-active")
                }
            });
            closeButton.addEventListener("click", function () {
                paymentDetails.style.display = "none";
                body.classList.remove("modal-active")
            });
        })
    });
    document.addEventListener("DOMContentLoaded", function () {
        const userIcon = document.getElementById("user-icon");
        const userPopup = document.getElementById("user-popup");

        userIcon.addEventListener("click", ()=> {
            userPopup.classList.toggle("show");
        });

        // Close the popup when clicking outside
        document.addEventListener("click", function (event) {
            if (!userPopup.contains(event.target) && !userIcon.contains(event.target)) {
                userPopup.classList.remove("show");
            }
        });
    });
</script>

</html>