<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Cart</title>
    <link rel="stylesheet" href="../../../../../FE_project/style.css">
</head>

<body class="history">
<div th:replace="~{/fragments/header_nav.html :: headerNavCombo}"></div>
    <div class="history-category">
        <h1 class="history-header title">History</h1>
        <a href="">Shopping history</a>
        <a href="">Gift history</a>
    </div>
    <div class="history-list">
        <h1 class="history-header title">Shopping history</h1>

        <!-- For loop to get history by date in Enrollment entity-->
        <div class="history-by-date-container">
            <div class="history-by-date-list">
                <div class="history-by-date">
                    <p class="history-text date">January 19th, 2025</p>
                    <div class="purchase-attempt">
                        <div>
                            <p class="history-text">Number of courses: 3</p>
                            <p class="history-text">Price: đ 2.500.000</p>
                        </div>
                        <button class="toggle-btn"><i class="fa-solid fa-ellipsis"></i></button>
                    </div>
                    <div class="purchase-attempt">
                        <div>
                            <p class="history-text">Number of courses: 3</p>
                            <p class="history-text">Price: đ 2.500.000</p>
                        </div>
                        <button class="toggle-btn"><i class="fa-solid fa-ellipsis"></i></button>
                    </div>
                </div>
            </div>
            <div class="history-by-date-list">
                <div class="history-by-date">
                    <p class="history-text date">January 19th, 2025</p>
                    <div class="purchase-attempt">
                        <div>
                            <p class="history-text">Number of courses: 3</p>
                            <p class="history-text">Price: đ 2.500.000</p>
                        </div>
                        <button class="toggle-btn"><i class="fa-solid fa-ellipsis"></i></button>
                    </div>
                    <div class="purchase-attempt">
                        <div>
                            <p class="history-text">Number of courses: 3</p>
                            <p class="history-text">Price: đ 2.500.000</p>
                        </div>
                        <button class="toggle-btn"><i class="fa-solid fa-ellipsis"></i></button>
                    </div>
                </div>
            </div>
            <div class="history-by-date-list">
                <div class="history-by-date">
                    <p class="history-text date">January 19th, 2025</p>
                    <div class="purchase-attempt">
                        <div>
                            <p class="history-text">Number of courses: 3</p>
                            <p class="history-text">Price: đ 2.500.000</p>
                        </div>
                        <button class="toggle-btn"><i class="fa-solid fa-ellipsis"></i></button>
                    </div>
                    <div class="purchase-attempt">
                        <div>
                            <p class="history-text">Number of courses: 3</p>
                            <p class="history-text">Price: đ 2.500.000</p>
                        </div>
                        <button class="toggle-btn"><i class="fa-solid fa-ellipsis"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- After click "..." icon, the system display full info about the purchase attempt -->
    <div class="purchase-attempt-info-container">
        <div class="tittle-n-btn">
            <h1 class="history-header title">Payment detail</h1>
            <button>X</button>
        </div>
        <p class="history-text detail">Card number: *************099</p>
        <p class="history-text detail">Card type: VISA</p>
        <p class="history-text detail">CVC/CVV: **8</p>
        <p class="history-text detail">Bank: MB Bank</p>
        <p class="history-text detail">Price: đ 2.500.000</p>
        <div class="course-list">
            <p class="history-text detail">Courses:</p>
            <div class="history-course-list">
                <div class="history-course">
                    <a href="">- Spring Boot for beginner</a>
                    <p>Tuyen Tom</p>
                </div>
                <div class="history-course">
                    <a href="">- Spring Boot advance</a>
                    <p>Tuyen Tom</p>
                </div>
                <div class="history-course">
                    <a href="">- Thymeleaf for beginner</a>
                    <p>Tuyen Tom</p>
                </div>
            </div>
        </div>
    </div>
<div th:replace="~{/fragments/header_nav.html :: headerNavCombo}"></div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButtons = document.querySelectorAll(".toggle-btn");
        const paymentDetails = document.querySelector(".purchase-attempt-info-container");
        const closeButton = document.querySelector(".tittle-n-btn button");
        const body = document.querySelector(".history");

        toggleButtons.forEach(button => {
            button.addEventListener("click", function () {
                if (paymentDetails.style.display === "none" || paymentDetails.style.display === "") {
                    paymentDetails.style.display = "block";
                    body.classList.add("modal-active")
                }
            });
            closeButton.addEventListener("click", function () {
                paymentDetails.style.display = "none";
                body.classList.remove("modal-active")
            });
        })
    });
</script>

</html>